/* rset.css */

/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
  TODO will need to remove settings on HTML since we can't namespace it.
  TODO with the prefix, should I group by selector or property for weight savings?
*/
html{
    color:#000;
    background:#FFF;
  }
  /*
    TODO remove settings on BODY since we can't namespace it.
  */
  /*
    TODO test putting a class on HEAD.
      - Fails on FF.
  */
  body,
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  code,
  form,
  fieldset,
  legend,
  input,
  textarea,
  p,
  blockquote,
  th,
  td {
    margin:0;
    padding:0;
  }
  table {
    border-collapse:collapse;
    border-spacing:0;
  }
  fieldset,
  img {
    border:0;
  }
  /*
    TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
  */
  address,
  caption,
  cite,
  code,
  dfn,
  em,
  strong,
  th,
  var {
    font-style:normal;
    font-weight:normal;
  }
  
  ol,
  ul {
    list-style:none;
  }
  
  caption,
  th {
    text-align:left;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size:62.5%;
    font-weight:normal;
  }
  h1,
  h2,
  h3{
    font-family:Noto Serif JP,Noto Serif;
  }
  h1{
    font-size: 7rem;
  }
  p{
    font-size: 4rem;
  }
  q:before,
  q:after {
    content:'';
  }
  abbr,
  acronym {
    border:0;
    font-variant:normal;
  }
  /* to preserve line-height and selector appearance */
  sup {
    vertical-align:text-top;
  }
  sub {
    vertical-align:text-bottom;
  }
  input,
  textarea,
  select {
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
  }
  /*to enable resizing for IE*/
  input,
  textarea,
  select {
    *font-size:100%;
  }
  /*because legend doesn't inherit in IE */
  legend {
    color:#000;
  }
  /* YUI CSS Detection Stamp */
  #yui3-css-stamp.cssreset { display: none; }
  
  
  /* style.css */


  /*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
position: fixed;
width: 100%;
height: 100%;
z-index: 999;
text-align:center;
color:#fff;
}

/* Loading画像中央配置　*/
#splash_text {
position: absolute;
top: 50%;
left: 50%;
  z-index: 999;
transform: translate(-50%, -50%);
color: #fff;
width: 100%;
}

/*IE11対策用バーの線の高さ※対応しなければ削除してください*/
#splash_text svg{
  height: 2px;
}

/*割れる画面のアニメーション*/
.loader_cover {
  width: 100%;
  height: 50%;
  background-color: #333;
  transition: all .2s cubic-bezier(.04, .435, .315, .9);
  transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
  transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
  position: absolute;
  bottom: 0;
  transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
  transform: scaleY(0);

  
}
  
 /*========= テキストナビゲーションのためのCSS ===============*/


 /*==================================================
共通　横並びのための設定
===================================*/
.gnavi{
  display: flex;
  flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
  /*margin:0 0 50px 0;*/
  list-style: none;
}

.gnavi li a{
  display: block;
  padding:10px 30px;
  text-decoration: none;
  color: #fff;
}

/*==================================================
　5-3-11 左右から線が伸びて枠線になる
===================================*/

.gnavi li{
  /*線の基点とするためrelativeを指定*/
position: relative;
  margin:0 10px;
}

/*線の基点位置*/
.gnavi li::before,
.gnavi li::after{
content:"";
  /*絶対配置で線の位置を決める*/
position: absolute;
  /*線の形状*/
width: 0;
height:2px;
background:#F7D43F;
/*アニメーションの指定*/
transition: all 0.2s linear;
transition-delay: 0.2s;
}

.gnavi li::before{
right: 0;
top: 0;
}
.gnavi li::after{
left: 0;
bottom: 0;
}

/*線の基点位置2 spanタグ*/

.gnavi li a{
display: block;
}

.gnavi li a::before,
.gnavi li a::after{
content:"";
  /*絶対配置で線の位置を決める*/
position: absolute;
  /*線の形状*/
width:2px;
height:0;
background: #F7D43F;
/*アニメーションの指定*/
transition: all 0.2s linear;
}

.gnavi li a::before{
left: 0;
top: 0;
}
.gnavi li a::after{
right: 0;
bottom: 0;
}

/*現在地とhoverした際の線の変化*/

.gnavi li.current::before,
.gnavi li.current::after,
.gnavi li:hover::before,
.gnavi li:hover::after{
width: 100%;/*横幅を100%に*/
}

.gnavi li.current a::before,
.gnavi li.current a::after,
.gnavi li:hover a::before,
.gnavi li:hover a::after{
height: 100%;/*縦幅を100%に*/
}


/*=== scroll down ====*/

/*スクロールダウン全体の場所*/
.scrolldown3{
  /*位置決め*/
position:absolute;
bottom:10px;
right:50%;
margin-bottom: 110px;
  /*マウスの動き1.6秒かけて動く永遠にループ*/
animation:mousemove 1.6s ease-in-out infinite;
}

/*下からの距離が変化して上から下に動く*/
@keyframes mousemove{
    0%{bottom:10px;}
    50%{bottom:5px;}
   100%{bottom:10px;}
}

/*Scrollテキストの描写*/
.scrolldown3 span{
  /*描画位置*/
position: absolute;
left:-15px;
bottom:45px;
  /*テキストの形状*/
color: #eee;
font-size: 0.7rem;
letter-spacing: 0.05em;
}

/*マウスの中の線描写 */
.scrolldown3 span::after{
content: "";
  /*描画位置*/
position: absolute;
top:10px;
left:17px;
  /*線の形状*/
width: 1px;
height: 15px;
background: #eee;
  /*線の動き1.4秒かけて動く。永遠にループ*/
animation: mousepathmove 1.4s linear infinite;
opacity:0;
}

/*上からの距離・不透明度・高さが変化して上から下に流れる*/
@keyframes mousepathmove{
0%{
  height:0;
  top:10px;
  opacity: 0;
}
50%{
  height:15px;
  opacity: 1;
}
100%{
  height:0;
  top:30px;
  opacity: 0;
}
}

/*マウスの描写 */
.scrolldown3:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom:0;
  left:-10px;
  /*マウスの形状*/
width:25px;
height:37px;
border-radius: 10px;
border:1px solid #eee;
}


/*マウスの中の丸の描写*/
.scrolldown3:after{
content:"";
  /*描画位置*/
position: absolute;
bottom:26px;
left:0;
  /*丸の形状*/
width:5px;
height: 5px;
border-radius: 50%;
border:1px solid #eee;
}


  /* ------------------ */
  /* base */
  /* ------------------ */
  html{
    font-size: 62.5%;
  }
  body{
    color:#141414;
    font-size:1.6rem;
    line-height:1.8;
    letter-spacing: 0.05em;
    font-family: 'Noto Serif','Noto Serif JP', serif;
  }
  .noscroll{
    overflow: hidden;
    }
  img{
    width:100%;
    vertical-align: bottom;
  }
  a{
    text-decoration: none;
    color:#fff;


    font-style: italic;
  }
  .section-title{
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 70px;
  }
  h3{
    font-size: 2.4rem;
    font-weight: bold;
    line-height:2;
    letter-spacing: 0.1em;
    margin-bottom: 40px;
  }
  .section-wrapper{
    padding:100px 5% 50px; 
    
  }

/*-----------bg-----------------*/
/*.bg{
  background-image: url(../cresta_second/img/fv-bgi_01@2x.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}*/



/*========= レイアウトのためのCSS ===============*/
ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #fff;
}

a:hover,
a:active{
  text-decoration: none;
}

h1{
  font-size:6vw;
  letter-spacing: 0.1em;
  color: #fff;
}

.wrapper{
  position: relative;
}

.container{
  background:#555;
}

.container p{
  padding: 300px 0; 
  text-align: center;
  color: #fff;
}

/*-----------header-----------------*/
.header{
  color: #fff;
  /*background-color: #cccccc;*/

  align-items: center;
  position: absolute;
  z-index: 1;
  padding: 19px 30px;
  
  width: 100%;
  box-sizing: border-box;
  transition: .3s;
}
.header.fixed{
  position: fixed;
  background-color: #282f35;
  width: 100%;
  transition:.3s ;
  padding: 30px;
}


.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin:0 auto;
}
.header-inner a:hover{
  color: rgb(177, 165, 165);
  transition:.3s ease-in-out ;

}
.site-title{
  font-size: 2.6rem;
  font-weight: Bold;
  font-style: italic;
}
.nav-list{
  /* navの横並び */
  display: flex;
  z-index: 2;
}
.nav-item{
  /* メニューの右側に余白 */
  margin-right: 55px;
}
.burger-btn{
  display: none;
}

/*-----------fv-----------------*/
.fv{
  height: 100vh;
  position: relative;
  min-height: 550px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2.7em;
  background-size: cover;
  background-position: center;
 /* background-image: url(../cresta_second/img/fv-bgi_01@2x.jpg);*/
}
.fv img{
  object-fit: cover;
  height: 100vh;
  min-height: 100%;
}
.fv-wrapper{
  position: absolute;
  top: 300px;
  left: 150px;
}
.main-copy{
  color: #FFF;
  font-size: 7rem;
  line-height: 7rem;
  letter-spacing: 0.05em;
  width: auto;
  font-weight:bold;
}
.main-sub-title{
  color: #FFF;
  text-align: center;
}


/*-----------concept-----------------*/
.concept-wrapper{
  /*padding: 0 50px;*/
}
.section-title {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  /*text-align: left;*/
  font-size: 6rem;
  font-style: italic;
}
.concept-title{
  text-align: left;

}

.section-title:after{
  content: "";
  flex-grow: 1;
  border-bottom: 4px solid #333;
  margin-left: 10px;
  padding-right: 256px;
  margin-left:30px ;
}

.section-text_concept{
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: bold;
}
.text-about{
  text-align: center;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 3rem;

}

.text-wrapper_concept,.img-wrapper_concept{
  max-width: 440px;
}
.img-wrapper_concept{
  margin-left: 40px;
}
.content-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.big-text{
  text-align: right;
  font-size: 9rem;
  font-weight:bold;
  color: #171717;
  opacity: 10%;
  font-weight: bold;
}
/*------------works----------*/
.about-wp {
  background-image: url(../img/works-bgi@2x.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  /*position: relative;*/
 /* height: 986px;*/
}
.work-bg-black{
 /* position: absolute;
  top: 0;
  left: 0;*/
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  text-align: center;
  z-index: 3;
}

.section-wrapper{
  z-index: 2;
  max-width: 1000px;
  margin: 0 auto;
}
.works-title{
  color: #fff;
  text-align: right;

}
.section-inner{
  text-align: end;
}
.works-title:after{
  content: "";
  flex-grow: 1;
  border-bottom: 2px solid #FFF;
  margin-left: 10px;
  padding-right: 256px;
}
.card-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-item{
  max-width: 320px;
  color: #141414;
  padding: 10px 10px;
}

.text_news{
  font-size:1.6rem ;
  color: #000;
  background-color: #fff;
  padding: 25px 20px;
  text-align: justify;
  font-style: normal;

}
.our-text {
  color: rgb(255, 255, 255);
  text-align: left;
  margin-top: 70px;

}
.button-area{
  text-align: center;
  margin-top: 60px;
}
.button{
  background:#F7D43F ;
  color: #000;
  width: 235px;
  padding: 19px 71px;
  border-radius: 30px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  border: #141414 solid 1px;
  font-style: italic;

}
.button:hover{
  color: rgb(163, 153, 153);
  background-color: #977e0c;
  transition:.5s ease-in-out;
}


/*--------------service----------*/
.service-list{
  display: flex;
}
.service-item{
  width: 33.3%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.service-item a{
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 320px;
  font-size: 4rem;
  font-weight: bold;
  font-style: bold;
  transition: .3s;
}
.service-item a:hover{
  background-color: rgba(40,47,53,.7);
  transition: .3s;

}
.service-img_1{
  background-image:url(../img/service-img01@2x.jpg) ;
}
.service-img_2{
  background-image:url(../img/service-img02@2x.jpg) ;
}
.service-img_3{
  background-image:url(../img/sevice-img03@2x.jpg) ;
}
.service-text{
  position: absolute;
  bottom: 0%;
  
  display: block;
  width:  100%;
  text-align: center;
  line-height: 315px;
  color: #FFF;
  font-style: italic;
}

.fade{
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.fade:hover{
  background-color: rgb(0,0,0,0.6);
  /*opacity: 0.4;
  filter: alpha(opacity=60);*/
}


/*---------------contact--------------------------*/
.contact-wp{
  background-image: url(../img/contact-bgi@2x.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height:666px ;
}
.contact-inner{
  text-align: center;
}
.contact-text{
  color: #fff;
  font-size: 2rem;
  font-size: bold;
  margin-bottom: 40px;
}

/*------------footer------------------------------------*/
footer{
  background-color: #fff;
  height: 79px;
}
small{
  display: block;
  text-align: center;
  color: #1b1310;
  padding-top: 30px;
}
.sp-br{
  display: none;
}

@media screen and (max-width:768px) {
  .scrolldown3{
    display: none;

  }
   /* ----------------------- */
  /* base_sp
  /* ----------------------- */
  
  h3{
    font-size: 2rem;
    margin-bottom: 30px;
  }
  .section-wrapper{
    padding:100px 0 40px;  
  }
  .section-title{
    padding: 0 4vw;
    font-size: 3rem;
    margin-bottom: 50px;
  }
  .section-bottom{
    font-size: 0 4vw;
    padding: 0 4vw;
  }
  .button{
    margin-bottom:40px ;
  }

  .sp-br{
    display: block;
  }
  .pc-br{
    display: none;
  }
  /* ------------------ */
  /* header-sp */
  /* ------------------ */
  .header{
    padding: 30px 4vw 0;
  }
  .header-nav{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #282f35;
     }
   
     .header-nav .nav-list{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
    }
    .header-nav .nav-item{
      margin-right: 0;
      margin-bottom: 40px;
    }


  /* ------------------ */
  /* fv-sp */
  /* ------------------ */
  .fv-wrapper{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .main-copy{
    font-size: 9.8vw;
    white-space: nowrap;
    font-weight: bold;
  }
  .main-sub-title{
    font-size: 8vw;
    line-height: 60px;
    font-weight: bold;
  }

  /* ------------------ */
  /* works-sp */
  /* ------------------ */
  .card-list{
    display: block;
    padding: 0 4vw;
    margin:0 auto 80px ;
  }
  .card-item{
    width: 320px;
    max-width: 100%;
    margin: 0 auto 30px;
  }

    /* ---------------------------- */
    /* service_sp
    /* ---------------------------- */
    .service-list{
      display: block;
      margin-bottom: 40px;
    }
    .service-item{
      width: 100%;
      margin-bottom: 30px;
    }
    .service-item p{
      line-height: 250px;
      
    }



  /* ------------------ */
  /* concept-sp */
  /* ------------------ */
  .concept-wrapper {
    padding: 0 4vw;
  }
  .text-about{
    font-size: 3.2rem;
    margin-bottom: 32px;
  }
  .section-title{
    padding: 0 4vw;
    font-size: 3.8rem;
    font-weight: bold;
    margin-bottom:50px ;
  }
  .section-title::after{
    padding-right: 90px;
    margin-left:30px ;
    height: 5px;
  }
  .pc-br{
    display: none;
  }
  .content-inner{
    display: block;
    /*margin-bottom: 40px;*/
    margin: 0 auto 40px;
    justify-content: space-between;
    align-items: center;

  }
  .section-text_concept{

  }
  .text-wrapper_concept{
    margin-bottom:30px ;
    max-width: 100%;
  }
  .img-wrapper_concept{
    margin: 0;
    max-width: 100%;
  }
  .big-text{
    font-size: 4rem;
    padding: 0 4vw;
  }

  /* ハンバーガーメニューが開いたとき */
  .burger-btn.cross .bar_top{
    transform: rotate(45deg) translate(8px,8px);
    transition: .3s;
  }
  .burger-btn.cross .bar_mid{
    opacity: 0;
    transition: .3s;
  }
  .burger-btn.cross .bar_bottom{
    transform: rotate(-45deg) translate(8px,-8px);
    transition: .3s;
  }
  body.noscroll{
    overflow: hidden;
  }

  button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }

    /* ------------------ */
  /* humburger-sp */
  /* ------------------ */
  .burger-btn{
    display: block;
    position: absolute;
    top: 30px;
    right: 4vw;
  }
  .burger-btn .bar{
    display: block;
    height: 3px;
    width: 30px;
    background-color: #fff;
  }
  .bar_top{
    margin-bottom: 8px;
  }
  .bar_mid{
    margin-bottom: 8px;
  }

    
} 